.home-container{
    margin-top: 100px;
    margin-bottom: 50px;
}
.home-banner {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin-bottom: 50px;
}

.banner-images{
    height: 100%;
    display: flex;
}
.banner-images .banner-item {
    width: 100vw;
    height: 100%;
}
.banner-images .banner-item img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.banner-buttons{
    width: 120px;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.banner-buttons i{
    font-size: 30px;
    padding: 20px;
    border: solid black 2px;
    transition: 1s;
    cursor: pointer;
}
.banner-buttons i:hover{
    background-color: rgba(0, 0, 0, 0.281);
}

.banner-images {
    width: 400vw;
    transition: 1s;
}
.show{
    transform: translateX(-100vw);
}

.home-products{
    width: 100%;
}

@media screen and (max-width:1100px) {
    .home-banner {
        width: 100%;
        height: 70vh;
        overflow: hidden;
        margin-bottom: 50px;
    }
    .banner-images .banner-item img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}
@media screen and (max-width:900px) {
    .home-banner {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        margin-bottom: 50px;
    }
    .banner-images .banner-item img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .banner-buttons i{
        font-size: 15px;
        padding: 20px;
        border: solid black 2px;
        transition: 1s;
        cursor: pointer;
    }
}