.cintainer-header {
    height: 70px;
    padding: 50px 120px;
    border-bottom: solid rgba(0, 0, 0, 0.199) 3px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}

.header {
    width: 100%;
    height: 100%;
}

.font-500 {
    font-weight: 500;
}

.header-image {
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart {
    position: relative;
}

.cart span {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.userName {
    text-wrap: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: gray;
}

.user-image {
    margin-left: 20px;
    position: static;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.x-close {
    display: none;
    cursor: pointer;
}


.user-i-icon {
    color: black;
}

.menu-icon {
    display: none;
}


@media screen and (max-width:1350px) {
    .cintainer-header {
        height: 70px;
        padding: 50px 60px;
        border-bottom: solid rgba(0, 0, 0, 0.199) 3px;
        z-index: 500;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        position: fixed;
        top: 0;
        width: 100%;
    }
}

@media only screen and (max-width:1150px) {
    .menu-icon {
        display: block;
    }

    .header-content {
        display: none;
    }

    .mobile {
        display: block;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }

    .header-content {
        align-items: start;
        top: 0;
    }

    .header-list {
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 150px;
    }

    .link-home {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 60px;
        border: solid black 1px;
        border-radius: 30px;

    }

    .header-list-item {
        width: 100%;
        text-align: center;
        margin: 0 10px;
        padding: 30px 0;
    }

    .header-image {
        margin-top: 20px;
    }

    .x-close {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 26px;
        width: 35px;
        height: 35px;
        text-align: center;
        color: black;
        font-weight: 600;
        z-index: 999;
    }

    .user-info {
        position: absolute;
        top: 10px;
        left: 0;
        display: flex;
        text-align: center;
        justify-content: start;
        align-items: center;
        width: 100%;
        padding: 15px 0;
        border-bottom: solid 3px gray;
    }

    .user-image {
        position: static;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }

    .user-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: solid black 2px;
        color: black;
        margin-left: 10px;
    }

    .user-icon i {
        font-size: 40px;
    }

    .userName {
        font-size: 12px;
        text-decoration: none;
        color: black;
        font-weight: 700;
    }

    .home-first {
        text-align: center;
        width: 100%;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }
}